.Dictionary {
  margin: 0% auto;
}

form {
  display: flex;
}
section {
  border: 5px dashed #94d1ff;
  border-radius: 20px;
  padding: 5%;
}
.section-wrap {
  background-color: #f3dfff;
  border-radius: 20px;
  padding: 4%;
  margin-bottom: 3%;
  box-shadow: 3px 2px 7px 1px rgba(0, 0, 0, 0.4);
}
.btn {
  border: 1px solid #94d1ff;
  color: #94d1ff;
}
.btn:hover {
  border: 1px solid #94d1ff;
  color: white;
  background-color: #94d1ff;
}
.form-control {
  border: 1px solid #94d1ff;
  color: #94d1ff;
}
